<form [formGroup]="reactiveFormAdd">
    <mat-form-field  appearance="fill">
      <mat-label for="name">Name</mat-label>
      <input type="text" matInput id="name" formControlName="name" placeholder="morpheus">
    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label for="job">Job</mat-label>
      <input type="text" matInput id="job" formControlName="job" placeholder="zion resident">
    </mat-form-field>
    <button mat-raised-button (click) = "addUser()" type="submit" [mat-dialog-close]>Add</button>
</form>  